<h1> Reported Pets </h1>

<ul>
  <%@pets.each do |pet|%>
    <li><%= pet.name %></li>
    <li><%= pet.species%></li>
    <li><%= pet.address %></li>
    <li><%= pet.found_on %></li>
  <%end%>
</ul>

<%= link_to "Report a new pet", new_pet_path %>
